/* ------------------------------- Header --------------------------------------- */

header {
    height: 450px;
    background-image: var(--main-gradient-color);
}

/* --------------- Header-Navigation ------------------- */

.header-navigation__list {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.header-navigation__list-items {
    list-style-type: none;
}

.header-navigation__nav-link {
    text-decoration: none;
    cursor: pointer;
}

nav {
    align-self: flex-end;
    margin: 10px 0;
}

/* --------------- Header-Hero-section ------------------- */

.header__hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header__logo {
    width: 200px;
    height: auto;
}

/* ------------------------------- Main --------------------------------------- */

main {
    background-color: var(--main-background-color-dark);
}

/* --------------- Main-Hottest-posts-section ------------------- */


.main-hottest-posts__header {
    justify-content: center;
    height: 200px;
}

.main-hottest-posts__cards-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    width: 1200px;
}

.hottest-posts__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    height: 150px;
    padding: 10px;
    background-color: var(--main-background-color-light);
    box-shadow: 6px 6px 20px var(--main-shadow-color);
}

.hottest-posts__card-header {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--main-font-color-dark);
}

.hottest-posts__card-header-link {
    text-decoration: none;
}

.hottest-posts__card-link {
    font-size: 12px;
    font-weight: 600;
    color: var(--main-focus-color);
    cursor: pointer;
}

.hottest-posts__comments {
    font-size: 12px;
    color: var(--main-font-color-medium);
}

/* ------------------------------- Footer --------------------------------------- */

footer {
    background-color: var(--footer-background-color);
    height: 30px;
}

.footer__text {
    align-self: center;
}