/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------- 1.2 Colors ------------------- */

:root {
  --main-focus-color: #DD3038;
  --main-focus-color-light:#E7613A;
  --main-background-color-dark: #FDF4F2;
  --main-background-color-light: #FFFFFF;
  --footer-background-color: #292929;
  --main-font-color-dark: #292929;
  --main-font-color-medium: #646464;
  --main-font-color-light: #FFFFFF;
  --main-shadow-color: #e7e7e7;
  --main-gradient-color: linear-gradient(to right, rgb(231, 97, 58), rgb(221, 48, 56));
}

/* ------------------------------- 2. Typography ----------------------------------- */

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-transform: capitalize;
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 12px;
}

.header-navigation__nav-link {
  color: var(--main-font-color-light);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

footer {
  color: var(--main-font-color-light);
  font-size: 12px;
}

/* ------------------------------- 3. Layout --------------------------------------- */
/*outer container, buttons etc*/

.outer-container__reusable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.inner-container__reusable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 1000px;
  margin: 0 20px;
}
